<ion-header>
  <ion-toolbar color="colorDuoc">
    
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Bienvenide</ion-title>

    <ion-avatar slot="start">
      <img src="assets/logo1.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="ligth">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
          *ngFor="let noticia of noticias; let i=index">

          <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                  <span class="text-primary">{{i + 1}}. </span>
                  <span class="noticia-source-name">{{noticia.source.name}} </span> </ion-card-subtitle>
                <ion-card-title>{{noticia.title}}</ion-card-title>
            </ion-card-header>
            <ion-img *ngIf="noticia.urlToImage"
                      [src] ="noticia.urlToImage"></ion-img>
            <ion-card-content>
              <p>
                {{noticia.descripcion}}
              </p>
            </ion-card-content>
          </ion-card>
      </ion-col>

