

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
       <form [formGroup]="formularioRegistro" (keyup.enter)="CrearUsuario()">

        <ion-item>
          <ion-label position="floating">Nombre..</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo..</ion-label>
          <ion-input type="email" formControlName="correo" ></ion-input>
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select formControlName="tipo"  multiple="false" placeholder="Seleccione Tipo">
              <ion-select-option value="profesor">Profesor</ion-select-option>
              <ion-select-option value="alumno">Alumno</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
       
    

        <ion-item>
          <ion-label position="floating">Password..</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirma Pass..</ion-label>
          <ion-input type="password" formControlName="confirmaPass"></ion-input>
        </ion-item>

       </form>
       <br>
       <ion-button (click)="CrearUsuario()" expand="block" fill="outline" shape="round">
         Registrar
       </ion-button>
       <div style="text-align: center;">
        <ion-button routerLink="/login"  
        size="medium" color="dark" type="submit" expand="block" >
          Volver
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

