<ion-header>
  <ion-toolbar color="colorDuoc">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bienvenide</ion-title>
    <ion-avatar slot="start">
      <img src="assets/logo1.png"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>El mercurio</ion-card-subtitle>
      <ion-card-title>SE QUEMA DUOC MAIPU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="parrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non quia eligendi iste magni reprehenderit repudiandae harum perferendis distinctio, a fugiat sequi, eveniet inventore itaque culpa delectus consequuntur tempore ea!
      </p>
      <img src="assets/duoc_quemado.jpg" class="ion-padding">
      <p class="parrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non quia eligendi iste magni reprehenderit repudiandae harum perferendis distinctio, a fugiat sequi, eveniet inventore itaque culpa delectus consequuntur tempore ea!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    