


  <ion-content class="background" style="padding-left: 100%">
   
      <ion-title mode="md" size="large" class="letrita">Bienvenido</ion-title>

    <div style="padding-top: 120%">
      <ion-button size="small" color="dark" expand="block" routerLink="/login" >
        Ingresar
      </ion-button>
    </div>
    
    <div style="text-align: center;" >
      <ion-button    
      size="small" color="dark"  expand="block" routerLink="/registro">
        Registrarme
      </ion-button>
    </div>
</ion-content>

