ion-toolbar{
    background-color: var(--ion-color-colorduoc);
    
}
.loge{
    text-align: center;
    padding-left: 10px;
    padding-top: 70px;
    width: 400px;
 
}
.parrafoimg{
    height: 30%;
}
.btnrestab{
    background-color: white;
    color: rgb(40, 71, 166);
    
}





