<ion-header>
  <ion-toolbar>
    <!--boton atras-->
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      routerLink="/login"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--FORMULARIO-->
 <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
  <ion-list>
    <ion-item>  
      <ion-input type="email" placeholder="Ingrese Correo"
                  name="email" value="" [(ngModel)]= "usuario.correo"
                  
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                  required>
                  <!--el "+"concatena, el $ significa elfinal del string, el @ y el . son parte del email-->
       </ion-input></ion-item>
  </ion-list>
  <!--BOTON ENVIAR-->
  <ion-button   [disabled] ="formulario.invalid"   
    size="medium"      color="" type="submit" expand="block" routerLink="/ingresar-clave">
      Solicitar clave
    </ion-button>

 </form>
</ion-content>
